.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #FF0707;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.fa-user-times {
  color: #e3342f;
}

.fa-user-edit {
  color: #38c172;
}

body {
  font-family: Mulish;
}

legend {
  color: darkgrey;
  font-size: 0.7rem;
}

.table {
  margin-bottom: 0rem !important;
}

.td-reclamacao {
  padding-top: 0.2rem !important;
  padding-bottom: 0.2rem !important;
  font-size: 0.9rem;
}

.td-ult-pedidos {
  font-size: 0.9rem;
  padding-top: 0.88rem !important;
  padding-bottom: 0.8rem !important;
}

.caixa-superior:hover {
  color: #3751FF;
  box-shadow: inset 0 0 0.1rem #3751FF;
}

.coluna-hora-valor {
  color: darkgrey;
}
